* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root{
  --papel-de-parede: #fdf6f0;
  --
} */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdf6f0;
  color: #5C3A21;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
}

/* ----------------------------------------------------- Cabeçalho */
h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #8B5E3C;
}

/* ----------------------------------------------------- Formulário*/
form {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(91, 61, 39, 0.15);
}


form input,form select,form button {
  width: 100%;
  padding: 0.9rem;
  margin: 0.6rem 0 1.2rem;
  border-radius: 8px;
  border: 1px solid #D6A77A;
  font-size: 1rem;
  background-color: #FFF9F5;
  color: #5C3A21;
}

form input:focus,form select:focus {
  outline: none;
  border-color: #8B5E3C;
  box-shadow: 0 0 6px rgba(139, 94, 60, 0.4);
}


form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.4rem;
  color: #5C3A21;
}


form button,.btn {
  background-color: #8B5E3C;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover,.btn:hover {
  background-color: #5C3A21;
}

.btn-2 {
  background-color: #D6A77A;
  color: #fff;
}

.btn-2:hover {
  background-color: #B47A4B;
}

/* --------------------------------------------------- Mensagens */
.erro-msg {
  color: #b00020;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.sucesso-msg {
  color: #4CAF50;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* ------------------------------------------------ Lista das reservas */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-left: 6px solid #8B5E3C;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(91, 61, 39, 0.1);
  line-height: 1.5;
}


a {
  text-decoration: none;
  color: #8B5E3C;
}

a:hover {
  text-decoration: underline;
}

/* --------------------------------------------- Alinhamento */
.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

/* ---------------------------------------------- Layout Responsivo*/
@media (max-width: 600px) {
  .container {
    margin: 1rem;
    padding: 1rem;
  }

  form {
    padding: 1rem;
  }

  form input,
  form select,
  form button {
    font-size: 1rem;
  }
}
