{% extends "base.html" %}
{% block title %}Área Restrita{% endblock %}
{% block content %}
  <div class="container">
    <h2>Login Área Restrita</h2>
    <form method="post" action="{{ url_for('login_restrito') }}">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <button type="submit">Entrar</button>
    </form>

    <p style="margin-top:1rem;">
      Não tenho uma conta?
      <a href="{{ url_for('cadastro_restrito') }}">
        Quero me cadastrar como Admin ou Profissional
      </a>
    </p>
  </div>
{% endblock %}
