<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <form method="POST" action="{{ url_for('cadastro') }}">
    <h2>Cadastro</h2>
    {% if erro %}
      <p class="erro-msg">{{ erro }}</p>
    {% endif %}

    <input type="text" name="nome" placeholder="Nome de usuário" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="senha" placeholder="Senha" required />

    <button type="submit">Cadastrar</button>
    <p class="text-center mt-2"><a href="/?aba=login">Já tem conta? Faça login</a></p>
  </form>
</body>
</html>
