<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <form method="POST">
    <h2>Login</h2>
    {% if sucesso %}
      <p class="sucesso-msg">{{ sucesso }}</p>
    {% endif %}
    {% if erro %}
      <p class="erro-msg">{{ erro }}</p>
    {% endif %}
    <input type="text" name="usuario" placeholder="Usuário" required />
    <input type="password" name="senha" placeholder="Senha" required />
    <button type="submit">Entrar</button>
    <p class="text-center mt-2"><a href="/cadastro">Não tem conta? Cadastre-se</a></p>
  </form>
</body>
</html>
